<link rel="stylesheet" href="/css/main.css" />
<body class="bg-base-200 min-h-screen flex flex-col">

<!-- NAVBAR -->
<div class="navbar bg-base-100 shadow-md px-6">

    <!-- LEFT: TITLE -->
    <div class="flex-1">
        <a href="/" class="text-xl font-bold">
            Task Manager
        </a>
    </div>

    <!-- RIGHT: BUTTONS -->
    <div class="flex gap-2">

        <a href="/login" class="btn btn-ghost btn-sm">
            Login
        </a>

        <a href="/register" class="btn btn-primary btn-sm">
            Register
        </a>

    </div>

</div>

<!-- MAIN -->
<main class="flex-1 p-6 mx-auto">