<link rel="stylesheet" href="/css/main.css" />
<%- include("partials/header", { title: "Not Found" }) %>

<div class="alert alert-error">
    <span>404 - Page not found</span>
</div>

<%- include("partials/footer") %>