<link rel="stylesheet" href="/css/main.css" />
<%- include("partials/header", { title: "Error" }) %>

<div class="alert alert-error">
    <span><%= error %></span>
</div>

<%- include("partials/footer") %>